@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* (photography text) */
  --Dark-blue: hsl(198, 62%, 26%);
  /* (footer) */
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

}

*{
    margin: 0;
}

html{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.d-none{
    display: none;
}
.font-title{
    font-family: 'Fraunces', sans-serif;
}
.container {
    padding: 0 1rem;
}
.bg-hijau{
    background: var(--Dark-moderate-cyan);
}
.bg-blue{
    background: var(--Dark-blue);
}

.navigation-wrapper{
    padding: 1rem 0;
    /* background: var(--Dark-moderate-cyan); */
    position: fixed;
    z-index: 7;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#menuBurger {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menuBurger > div{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: var(--Dark-desaturated-cyan);
}

/* hero */
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.hero div{
    position: absolute;
    z-index: 4;
    top: 30%;
    right: 0;
    left: 0;
}
.hero div > h1{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}

.hero div > img{
    width: 30px;
    margin-top: 2rem;
}

.hero img{
    width: 100%;
    z-index: 1;
}

/* text-image */
.text-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.text-image > div{
    flex: 0 0 100%;
}

.text-image__text{
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--very-dark-desaturated-blue);
}
.text-image__text > .font-title{
    font-weight: 900;
    font-size: 2rem;
}

/* .absolute-text > p, */
.text-image__text > p{
    color: var(--grayish-blue);
}
.text-image__text  a{
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
    font-family: 'Fraunces';
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 14px;
}
.text-image__text  a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 6px;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: rgb(6, 189, 0);
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 50px;
}

.text-image__text a.underline-yellow::before{
    background-color: var(--Yellow) !important;
}
.text-image__text a.underline-red::before{
    background-color: var(--Soft-red) !important;
}

.text-image__image{
    order: 1;
}

.text-image__image > img{
    width: 100%;
}

.text-image.image-left{
    flex-direction: column-reverse;
}


.image-absolute-text > div{
    line-height: 0;
}
.image-absolute-text__wrapper{
    position: relative;
    display: inline-block;
}
.image-absolute-text__wrapper > img{
    width: 100%;
}

.absolute-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    bottom: 0;
    text-align: center;
    margin: 0 1rem 3.5rem 1rem;
    line-height: 1.5rem;
}
.absolute-text.cyan {
    color: var(--Dark-desaturated-cyan);
}
.absolute-text.blue {
    color: var(--Dark-blue);
}

.absolute-text > .font-title{
    font-size: 2rem;
}

