@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  /* (photography text) */
  --Dark-blue: hsl(198, 62%, 26%);
  /* (footer) */
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

}

*{
    margin: 0;
    box-sizing: border-box; 
}
ul{
    padding: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.d-none{
    display: none;
}
.font-title{
    font-family: 'Fraunces', sans-serif;
}
.container {
    padding: 0 1rem;
}
.bg-hijau{
    background: var(--Dark-moderate-cyan);
}
.bg-blue{
    background: var(--Dark-blue);
}

.navigation-wrapper.is-scroll{
    background-color: var(--Dark-moderate-cyan);
    transition: background-color .3s ease-in;
}
.navigation-wrapper.active .burgerline:nth-child(1){
    transform: translate(0%,270%) rotate(45deg);
    transition: transform .3s;
}
.navigation-wrapper.active .burgerline:nth-child(3){
    transform: translate(0%,-270%) rotate(-45deg);
    transition: transform .3s;
}

.navigation-wrapper.active .burgerline:nth-child(2){
    opacity: 0;
    transition: visibility .3s;
}

.navigation-wrapper .burgerline:nth-child(1){
    transform:unset;
    transition: transform .3s;
}
.navigation-wrapper .burgerline:nth-child(3){
    transform: translate(0%,-0%) rotate(0);
    transition: transform .3s;
}
.navigation-wrapper .burgerline:nth-child(2){
    opacity: 1;
    transition: opacity .3s;
}


.navigation-wrapper{
    padding: 1rem 0;
    background-color: unset;
    position: fixed;
    z-index: 7;
    width: 100%;
    transition: background-color .3s ease-in;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


#menuBurger {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menuBurger > div{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.navigation-wrapper.active .nav-mobile__menu{
    height: auto;
    max-height: 250px;
    overflow: auto;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    visibility: visible;
    transition: visibility .2s ease;
}
.nav-mobile__menu{
    visibility: hidden;
    top: 0;
    margin: 0 1rem;
    height: 0;
    overflow: hidden;
    position: absolute;
}
.nav-mobile__menu a{
    display: block;
    text-decoration: none;
    color: var(--very-dark-grayish-blue);
}
.nav-mobile__menu a.contact-mobile{
    padding: .5rem 1rem;
    border-radius: 50px;
    background-color: var(--Yellow);
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

/* hero */
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.hero div{
    position: absolute;
    z-index: 4;
    top: 30%;
    right: 0;
    left: 0;
}
.hero div > h1{
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
}

.hero div > img{
    width: 30px;
    margin-top: 2rem;
}

.hero img{
    width: 100%;
    z-index: 1;
}

/* text-image */
.text-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.text-image > div{
    flex: 0 0 100%;
}

.text-image__text{
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--very-dark-desaturated-blue);
}
.text-image__text > .font-title{
    font-weight: 900;
    font-size: 2rem;
}

/* .absolute-text > p, */
.text-image__text > p{
    color: var(--grayish-blue);
}
.text-image__text  a{
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
    font-family: 'Fraunces';
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 14px;
}
.text-image__text  a::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 6px;
    bottom: 0;
    left: 50%;
    right: 0;
    background-color: rgb(6, 189, 0);
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 50px;
}

.text-image__text a.underline-yellow::before{
    background-color: var(--Yellow) !important;
}
.text-image__text a.underline-red::before{
    background-color: var(--Soft-red) !important;
}

.text-image__image{
    order: 1;
}

.text-image__image > img{
    width: 100%;
}

.text-image.image-left{
    flex-direction: column-reverse;
}


.image-absolute-text > div{
    line-height: 0;
}
.image-absolute-text__wrapper{
    position: relative;
    display: inline-block;
}
.image-absolute-text__wrapper > img{
    width: 100%;
}

.absolute-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    bottom: 0;
    text-align: center;
    margin: 0 1rem 3.5rem 1rem;
    line-height: 1.5rem;
}
.absolute-text.cyan {
    color: var(--Dark-desaturated-cyan);
}
.absolute-text.blue {
    color: var(--Dark-blue);
}

.absolute-text > .font-title{
    font-size: 2rem;
}



.client-testimonial{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.client-testimonial > .font-title{
    letter-spacing: 6px;
    color: var(--very-dark-grayish-blue);
}

.list-testimonial{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.testimonial-card > img{
    border-radius: 50px;
    width: 60px;
}
.testimonial-card > p{
    line-height: 1.5rem;
    color: var(--very-dark-grayish-blue);
}

.testimonial-card__name{}
.testimonial-card__name > .font-title{
    font-weight: 700;
}
.testimonial-card__name > p{
    margin-bottom: .5rem;
}

.testimonial-card__name__title-job{
    color: var(--grayish-blue);
}



/* galery */
#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#gallery img{
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: center;
    background-color: var(--Dark-moderate-cyan);
    padding: 3rem 1rem;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer ul a{
    text-decoration: none;
    color: var(--Dark-desaturated-cyan);
}

.nav-desktop__menu{
    display: none;
}

.hero-img__mb{
    display: block;
}

.hero-img__desktop{
    display: none;
}

@media only screen and (min-width: 375px){
    .nav-mobile{
        display: none;
    }

    .nav-desktop__menu{
        display: inline-flex;
        flex-direction: row;
        gap: .5rem;
    }
    .nav-desktop__menu >li>a{
        text-decoration: none;
        color: #fff;
        padding: .5rem 1rem;
        display: block;
    }
    .nav-desktop__menu >li>a:not(.contact-desktop):hover{
        transform: scale(1.02);
    }
    .nav-desktop__menu >li>a.contact-desktop{
        background-color: white;
        font-weight: 700;
        color: var(--Dark-blue);
        text-transform: uppercase;
        border-radius: 50px;
    }

    .nav-desktop__menu >li>a.contact-desktop:hover{
        background-color: #ffffff4d;
        color: #fff;
    }

    .text-image{
        flex-direction: row;
    }
    .text-image > div {
        flex: 0 0 50%;
    }
    .text-image__image.image-right{
        order: 2;
    }
    .text-image__text {
        text-align: left;
        gap: 1.4rem;
        padding: 0 9rem;
        justify-content: center;
        align-items: flex-start;
    }

    .image-absolute-text{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .client-testimonial{
        text-align: center;
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    .list-testimonial{
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .testimonial-card__name{
        margin-top: 3rem;
    }

    #gallery{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: unset;
    }
    .hero-img__mb{
        display: none;
    }
    
    .hero-img__desktop{
        display: block;
    }

    footer a:hover{
        color: #fff;
    }
}